<div id="sidebar">
	<div id="sidebar_content">
		<p><%= @joined_on %></p>
	</div>
</div>
<div class="new-entry-form">
	<%= render 'daily_entries/form' %>
</div>
<div class="all_entries">
		<%= render 'daily_entries/daily_entry' %>
</div>