// Place all the styles related to the daily_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkestorange : #e47a0a;
$lightblue : #87e0fd;
$white : #fff;
$largest-font: 85px;
$mid-font: 18px;
$nav-bar-font: 'Open Sans Condensed', sans-serif;
$light-gray: #eeeeee;
div.all_entries {
	width: 70%;
	padding-left: 10%;
	background-color: $light-gray;
	// float: right;
	
	div.single_entry {
		width: 30%;
		box-sizing: border-box;
		float: left;
		margin-right: 1em;
		margin-bottom: 1em;
		border: 3px solid #c1c1c3;
		font-family: $nav-bar-font;
		background-color: $light-gray;		
	}
	div.date-container {
		background-color: $darkestorange;
		margin: 0;
		padding-bottom: 2em;
		p {
			margin: 0;
			padding: 1em;
			color: $white;
		}
		div.daily-entry-body {
			padding: 3em;

		}
	}
}

